<div class="container-fluid p-0">
    <div class="mb-3 text-secondary font-lg font-segoe-ui-semibold">New Project</div>
</div>

<div class="container-fluid border-top pl-0 pr-0 border-bottom">
    <div>
        <div class="alert alert-danger alert-dismissible fade show mt-1" role="alert">
            Please enter all the mandatory fields
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span class="font-1-5-rem" aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>

    <form id="newProjectForm"
        class="pl-lg-5 pr-0 my-3">
        <div class="form-group row d-flex align-items-center">
            <label class="col-xs-12 col-lg-3 col-form-label text-secondary required">
                Project Number
            </label>
            <div class="col-xs-12 col-lg-3">
                <input formControlName="projectNumber" min="1" max="1000" type="number"
                    class="form-control"
                    autofocus />
                <div class="invalid-feedback text-nowrap">
                    <div>
                        Project number is positive
                    </div>
                    <div>
                        Project number is over maximum
                    </div>
                </div>
            </div>
            <div class="text-danger text-nowrap col-xs-12 col-lg-6">
                The project number already existed. Please select a different project number
            </div>
        </div>

        <div class="form-group row d-flex align-items-center">
            <label class="col-xs-12 col-lg-3 col-form-label text-secondary required">
                Project name
            </label>
            <div class="col-xs-12 col-lg-9">
                <input formControlName="name" maxlength="50" class="form-control" />
                <div class="invalid-feedback text-nowrap">
                    <div>
                        Project name has less than 50 characters
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row d-flex align-items-center">
            <label class="col-xs-12 col-lg-3 col-form-label text-secondary required">
                Customer
            </label>
            <div class="col-xs-12 col-lg-9">
                <input formControlName="customer" maxlength="50" class="form-control" />
                <div class="invalid-feedback text-nowrap">
                    <div>
                        Customer name has less than 50 characters
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row d-flex align-items-center">
            <label class="col-xs-12 col-lg-3 col-form-label text-secondary required">
                Group
            </label>
            <div class="col-xs-12 col-lg-3">
                <select formControlName="companyGroupId" class="form-control">
                    <option value="">New</option>

                </select>
                <div class="invalid-feedback text-nowrap">
                </div>
            </div>
        </div>

        <!-- <div class="form-group row d-flex align-items-center">
            <label for="members" class="col-xs-12 col-lg-3 col-form-label text-secondary">
                Members
            </label>
            <div class="col-xs-12 col-lg-9">
                <ng-select formControlName="projectEmployees" bindLabel="name" bindValue="id" labelForId="members"
                    appendTo="body" [items]="employees" [multiple]="true" [hideSelected]="true">
                    <ng-template ng-label-tmp let-item="item" let-clear="clear">
                        <span class="ng-value-label rounded-left">{{getMemberBoxLabel(item) | uppercase}}</span>
                        <span class="ng-value-icon right rounded-right" (click)="clear(item)">×</span>
                    </ng-template>

                    <ng-template ng-option-tmp let-item="item">
                        <span>{{getMemberBoxLabel(item)}}</span>
                    </ng-template>
                </ng-select>
            </div>
        </div> -->

        <div class="form-group row d-flex align-items-center">
            <label class="col-xs-12 col-lg-3 col-form-label text-secondary required">
                Status
            </label>
            <div class="col-xs-12 col-lg-3">
                <select formControlName="status" class="form-control">
                    <option>New</option>
                </select>
            </div>
        </div>

        <!-- <div class="form-group row d-flex align-items-center">
            <label class="col-xs-12 col-lg-3 col-form-label text-secondary text-nowrap required">
                Start date
            </label>
            <div class="input-group col-xs-12 col-lg-3">
                <input appDateInput formControlName="startDate" ngbDatepicker class="form-control border-right-0" #startDate="ngbDatepicker" />
                <div class="input-group-append rounded-right border-left-0 p-0">
                    <button class="bg-white btn px-1 py-0 d-flex align-items-center text-secondary" type="button">
                        <img src="assets/icons/svg/calendar.svg" />
                    </button>
                </div>
            </div>

            <div class="col-lg-1"></div>

            <label class="col-xs-12 col-lg-2 col-form-label text-secondary text-nowrap">
                End date
            </label>
            <div class="input-group col-xs-12 col-lg-3">
                <input appDateInput formControlName="endDate" ngbDatepicker class="form-control border-right-0" #endDate="ngbDatepicker" />
                <div class="input-group-append rounded-right border-left-0 p-0"> 
                    <button class="bg-white btn px-1 py-0 d-flex align-items-center text-secondary" type="button">
                        <img src="assets/icons/svg/calendar.svg" />
                    </button>
                </div>
            </div>
        </div> -->
    </form>
</div>

<div class="form-group row">
    <div class="col-lg-6 col-xs-12">
    </div>
    <div class="col-lg-6 col-xs-12 d-lg-flex justify-content-lg-between">
        <button type="reset" form="newProjectForm" class="btn btn-gray col-xs-12 col-lg-5 font-weight-bold mb-3 mb-lg-0">
            Cancel
        </button>
        <button form="newProjectForm" class="btn btn-primary col-xs-12 col-lg-5 font-weight-bold">
            Create Project
        </button>
    </div>
</div>