#container-header {
    font-family:'Segoe UI Semibold', sans-serif;
    font-size: 18pt;
    color: #2F85FA;
}

.se:focus{
    font-family:'Segoe UI Semibold', sans-serif;
    color: #333333
}

.nav-item {
    font-family:'Segoe UI', sans-serif;
    font-size: 14pt;
    color: #666666;
}